<ion-view>
    <ion-content>
        <!--
        <div class="card item-text-wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex magni nostrum veniam, aliquid reiciendis, aut et ratione, maxime totam eveniet repellendus, minus ipsa! Modi facere nemo et, illo, velit beatae.

        </div>
-->
    <div class="calendar"></div>
        <div>
            <calendar calendar-mode="week" event-source="eventSource"noEventsLabel="None">
        </div>
    </ion-content>
</ion-view>
