<ion-view view-title="Columns">
    <ion-content>
        <div class="row">
            <div class="col">
                <a href="#/app/elements" class="button button-block icon-left ion-chevron-left button-assertive ">Elements</a>
            </div>

            <div class="col">
                <a href="#/app/calendar" class="button button-block icon-right ion-chevron-right button-assertive ">Calendar</a>

            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Columns
            </div>
            <div class="item item-text-wrap">
                <a href="http://ionicframework.com/docs/components/#grid" target="_blank">
                    Checkout the Extensive Grid Reference.
                </a>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="row responsive-md">
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <div class="col-demo">.col</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">.col</div>
                    </div>
                    <div class="col col-25 col-offset-25">
                        <div class="col-demo">.col</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="col-demo">Line 1</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">Line 1
                            <br>Line 2
                            <br>Line 3</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-top">
                        <div class="col-demo">Line 1</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">Line 1
                            <br>Line 2
                            <br>Line 3</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-center">
                        <div class="col-demo">Line 1</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">Line 1
                            <br>Line 2
                            <br>Line 3</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-bottom">
                        <div class="col-demo">Line 1</div>
                    </div>
                    <div class="col">
                        <div class="col-demo">Line 1
                            <br>Line 2
                            <br>Line 3</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col col-50">.col.col-50</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
            </div>

            <div class="row">
                <div class="col col-75">.col.col-75</div>
                <div class="col">.col</div>
            </div>

            <div class="row">
                <div class="col">.col</div>
                <div class="col col-75">.col.col-75</div>
            </div>

            <div class="row">
                <div class="col">.col</div>
                <div class="col">.col</div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col col-33 col-offset-33">.col</div>
                <div class="col">.col</div>
            </div>

            <div class="row">
                <div class="col col-33">.col</div>
                <div class="col col-33 col-offset-33">.col</div>
            </div>

            <div class="row">
                <div class="col col-33 col-offset-67">.col</div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">1
                    <br>2
                    <br>3
                    <br>4</div>
            </div>

            <div class="row">
                <div class="col col-top">.col</div>
                <div class="col col-center">.col</div>
                <div class="col col-bottom">.col</div>
                <div class="col">1
                    <br>2
                    <br>3
                    <br>4</div>
            </div>

            <div class="row row-top">
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">1
                    <br>2
                    <br>3
                    <br>4</div>
            </div>

            <div class="row row-center">
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">1
                    <br>2
                    <br>3
                    <br>4</div>
            </div>

            <div class="row row-bottom">
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">1
                    <br>2
                    <br>3
                    <br>4</div>
            </div>
        </div>
    </ion-content>
</ion-view>
