<ion-view view-title="Ionic Showcase">
    <ion-content class="Aligner">
        <div class="Aligner-item">
            <div class="row">
                <div class="col fp1">
                    <a href="#/app/images"><img src="/img/images.png" alt="">
                        <h3>Images</h3></a>
                </div>
                <div class="col fp1">
                    <a href="http://ionicframework.com/docs/components/#header" target="_blank"><img src="/img/ionicicon.png" alt="">
                        <h3>Documentation</h3></a>
                </div>

            </div>
            <div class="row">
                <div class="col fp1">
                    <a href="#" ng-click="login()"><img src="/img/login.png" alt="">
                        <h3>Login</h3></a>
                </div>
                <div class="col fp1">
                    <a href="#/app/elements"><img src="/img/elements.png" alt="">
                        <h3>Elements</h3></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
